/*Some elements taken from unf.edu and associated pages.*/

body
{
    margin: 0;
}

#header
{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #013f70;
    background: -moz-linear-gradient(left,  #013f70 17%, #1f89c5 82%);
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,#013f70), color-stop(82%,#1f89c5));
    background: -webkit-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: -o-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: -ms-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: linear-gradient(to right,  #013f70 17%,#1f89c5 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013f70', endColorstr='#1f89c5',GradientType=1 );
}

#header #logo
{
    padding: 8px;
    min-width: 230px;
    z-index: 1 !important;
}

#header .wings
{
    margin: 0 auto; background: url(../image/UNFwings.png) no-repeat 500px 0px; min-height: 110px; width: 80%;
}

#body
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#links
{
    height: 30px;
    background: linear-gradient(to bottom, #707577 17%,#8a8d94 82%);
    margin: 0;
    padding: 0;
}

#links ul
{
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

#links ul li
{
    display: inline;
    margin: 2px;
}

#links ul li a
{
    text-decoration: none;
    color: white;
    padding: 3px;
    margin: 3px;
}