/*Some elements taken from unf.edu and associated pages.*/

body
{
    background-color: #bfbfbf;
    color: white;
    margin: 0;
}

#header
{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #013f70;
    background: -moz-linear-gradient(left,  #013f70 17%, #1f89c5 82%);
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,#013f70), color-stop(82%,#1f89c5));
    background: -webkit-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: -o-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: -ms-linear-gradient(left,  #013f70 17%,#1f89c5 82%);
    background: linear-gradient(to right,  #013f70 17%,#1f89c5 82%);
    border-top: solid 1px black;
}

#header #logo
{
    padding: 8px;
    min-width: 230px;
    z-index: 1 !important;
}

#header .wings
{
    margin: 0 auto; background: url(../image/UNFwings.png) no-repeat 500px 0px; min-height: 110px; width: 80%;
}

#body
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#links
{
    height: 30px;
    background: linear-gradient(to bottom, #707577 17%,#8a8d94 82%);
    margin: 0;
    padding: 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#links ul
{
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

#links ul li
{
    display: inline;
    margin: 2px;
}

#links ul li a
{
    text-decoration: none;
    color: white;
    padding: 3px 5%;
    margin: 3px;
}

#chat table, #chat table tr td
{
    border: solid 1px black;
}

#chat table
{
    border-collapse: collapse;
    margin: 1% auto;
    width: 80%;
    height: 70%;
    text-align: center;
}

#chat table tr td
{
    padding: 0;
    margin: 0;
}

#chat table tr td form
{
    padding: 0;
    margin: 0;
}


.submitLink
{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.submitLink:focus
{
    outline: none;
}

.logoutLink
{
    background-color: transparent;
    font-weight: bold;
    border: none;
    color: #FF0300;
    cursor: pointer;
}

.logoutLink:focus
{
    outline: none;
}

#login, #register
{
    background: #013f70;
    background: -moz-linear-gradient(top,  #013f70 17%, #1f89c5 82%);
    background: -webkit-gradient(linear, left top, right top, color-stop(17%,#013f70), color-stop(82%,#1f89c5));
    background: -webkit-linear-gradient(top,  #013f70 17%,#1f89c5 82%);
    background: -o-linear-gradient(top,  #013f70 17%,#1f89c5 82%);
    background: -ms-linear-gradient(top,  #013f70 17%,#1f89c5 82%);
    background: linear-gradient(top,  #013f70 17%,#1f89c5 82%);
    border-radius: 15px;
    width: 40%;
    text-align: center;
    margin: 5% auto;
    padding: 1%;
    border: solid 1px black;
}

#loginForm
{
    padding: 3px;
}

#loginForm a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #E7EAEF;
    text-decoration: none;
}

#loginForm a:hover
{
    text-decoration: underline;
}